.iconDone {
  height: 120px;
  width: 120px;
  background-image: url("../../../vendor/images/done.svg");
}

.modalContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.blue {
  text-shadow: 0 4px 32px rgba(51, 51, 255, 0.50), 0 0 8px rgba(51, 51, 255, 0.25), 0 0 16px rgba(51, 51, 255, 0.25);
}
