.burgerConstructor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  max-height: calc(100% - 80px);
  gap: 20px;
}

.containerList {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

.list {
  width: 100%;
  align-items: end;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 100%;
}

.price {
  display: flex;
  justify-content: end;
  align-items: center;
}

.iconPrice {
  width: 36px;
  height: 36px;
  object-fit: cover;
  background-image: url("../../vendor/images/icon 36x36.svg");
}

.scroll {
  overflow-y: auto;
  scroll-behavior: smooth;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: none;
  border-radius: 0;

}

.dropContainer {
  transition: 1s;
  height: 100%;
  border-radius: 80px;
  max-height: calc(100% - 125px);
}


.borderLightgreen2 {
  box-shadow: 0 4px 32px 0 rgba(128, 26, 178, 0.35), 0 0 8px 8px rgba(128, 26, 178, 0.15), 0 0 16px 8px rgba(128, 26, 178, 0.15);
  transition: 1s;
}

.borderLightgreen {
  /*box-shadow: 0px 4px 32px 0px rgba(128, 26, 178, 0.70), 0px 0px 8px 8px rgba(128, 26, 178, 0.30), 0px 0px 16px 8px rgba(128, 26, 178, 0.30);*/
  box-shadow: 0 4px 32px 0 rgba(51, 51, 255, 0.70), 0 0 8px 8px rgba(51, 51, 255, 0.30), 0 0 16px 8px rgba(51, 51, 255, 0.30);

}

.borderTransparent {
  box-shadow: none;
}