.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #131316;
  color: #f2f2f3;
  min-width: 900px;
  align-items: center;
}

.main{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-height: calc(100% - (40px + 88px));
  max-width: 1280px;
  display: flex;
  flex-direction: row;
}

