

.cardOrder {
  width: 100%;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 24px;
  background: #1C1C21;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 0 2px 0 rgba(0, 0, 0, 0.06), 0 4px 8px 0 rgba(0, 0, 0, 0.04);
}

.orderId{

}

.idText{

}

.timeStampText{

}


.burgerName{

}
