.price {
  display: flex;
  justify-content: center;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  overflow: hidden;
  gap: 4px;


}

.nonlink {
  text-decoration: none;
  color: inherit;
}

.cardName {
  height: 48px;
  width: 100%;
  text-align: center;
}

.imgCard {
  width: 240px;
  height: 120px;
  object-fit: cover;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}