body {
  margin: 0;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

/*не забыть подключить курсоры*/
.cursor {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
}

.cursor:hover {
  opacity: 0.8;
}